[Desktop Entry]
Version=1.0
Type=Application
Name=DIMMER
Comment=Отправить коммит
Exec=/home/hinto/project/dimmer/tools/commit.sh /home/hinto/project/dimmer
Icon=web-github
Path=
Terminal=true
StartupNotify=true
