[Desktop Entry]
Version=1.0
Type=Application
Name=DIMMER
Comment=
Exec=~/project/dimmer/tools/commit.sh ~/project/dimmer
Icon=web-github
Path=
Terminal=true
StartupNotify=true
